# logs
*.log.*
**/*.log.*
**/*.log

# blocks
**/*.block

#lock
**/*-lock.json
*-lock.json

# tx
**/*.tx

# tar files
**/*.gz
**/tar.*
**/*.tar
**/*.zip
*.gz
*.tar.*
*.tar
*.zip

# WebStrom indexes idea
.idea
**/.idea

# Visual Studio indexes idea
.vscode
**/.vscode
captures

